body{
	margin: 0;
	background-color: black;
}


.nav-bar{
	background-color: white;
	width: 100%;
	position: fixed;
	padding: 20px 0;
	padding-bottom: 10px;
	z-index: 5;
}
ul{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 30px;
}
li{
	display: inline-block;
	list-style: none;
	margin: 0 30px;
	position: relative;
	font-size: 40px;
}
a{
	text-decoration: none;
	color: black;
	font-style: italic;

}
.dropdown{
	position: absolute;
    background-color: gray;
    left: -35px;
    width: 113px;
}

.dropdown li{
	display: none;
	padding: 10px;
	/*display: block;*/
}
li:hover a{
	color: green;
	font-weight: 900;

}

li:hover .dropdown li{
	display: block;

}

.dli{
	margin-left: 0;
	margin-right: 0;
}
.da{
	color: red;
}


.dli:hover a {
	color: blue;
}
.logoimg{
	float: left;
	margin-left: 50px;

}
.mainer{
	margin-left: 80px;

}
.mainertxt{
	position: absolute;
	text-align: center;
	font-weight: 900;
	font-size: 45px;
	color: white;
	top: 300px;
	left: 30%;
}
.mainerHERE{
	color:blue;
}
.donate{
	background-color: orange;
	color: green;
	font-style:normal;
}
.donateLi{
	margin: 0;
	padding: 0 15px;
	background-color: orange;
	border: solid;
	border-color: black;
}
.lefter{
	float: left;
	margin-left: 150px;
	text-align: center;
}
.righter{
	float: left;
	margin-left: 70px;
	text-align: center;
}
h1{
	color: white;
}
.footer {
	clear: left;
	padding: 1rem;
	padding-top: 0;
  background-color: rgba(76, 76, 76, 0.77);own;
  height: 130px;
  color: white;
}
.footerLeft{
	float: left;
	margin-left: 70px;
	width: 300px;
}
